.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--main-background-color);
    padding-top: 10px;
    padding-bottom: 10px; 
    min-height: 10vh;
}

.burguer{
    z-index: 999;
}

.disabled {
    display: none;
}

@media(min-width: 768px){
    .burguer {
        display: none;
    }
}

@media(max-width: 768px) {
    .desktopMenu{
        display: none;
    }
}