:root {
    --main-letters-color: white;
    --secondary-letters-color: #f2f2f2;
    --third-letters-color: #e7e7e7;
    --main-first-hover: #f09819;
    --main-second-hover: #FF512F;
    --main-background-color: #272935;
    --main-button-color: #ce0000;
    --main-button-hover: #ce0030;
    --main-transparent-color: rgba(250, 235, 215, 0);
    --main-mobile-menu-background: rgba(0, 0, 0, 0.5);
}

a:link, a:visited, a:active {
    text-decoration:none;
}
